:root {
    /* Paleta Nook Inc. */
    --color-nook-green: #5FD1A2; /* Verde hoja principal */
    --color-nook-sand: #F2EACC;  /* Arena/Crema para fondos */
    --color-nook-wood: #8B5A2B;  /* Texto oscuro/marrón en lugar de negro */
    --color-nook-bubble: #FFFFFF; /* Cajas de diálogo */
    --color-nook-highlight: #FFFDE7; /* Resaltados */

    /* UI Animal Crossing */
    --font-main: 'Nunito', sans-serif;
    --border-radius-ac: 30px; /* Bordes de pastilla */
    --border-ac: 4px solid var(--color-nook-wood);
    --shadow-ac: 0 6px 0 rgba(139, 90, 43, 0.2); /* Sombra plana inferior */
}